body, html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.custom-form {
  margin-top: 10px;
}

.card-body {
  padding: 20px;
}

.btn-custom {
  background-color: #4CAF50;
  color: white;
}

.btn-custom:hover {
  background-color: #45a049;
}


