<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="mb-4 text-center">Crear Usuario</h2>
          <form [formGroup]="createUser" (ngSubmit)="createUserSubmit()">
            <div class="input-field">
              <label for="rut">RUT:</label>
              <input type="text" id="rut" formControlName="rut" placeholder="Ingrese un RUT (Ejemplo: 12345678-9)" maxlength="12">
            </div>
            <div class="input-field">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" formControlName="name" placeholder="Ingrese un nombre" maxlength="255">
            </div>
            <div class="input-field">
              <label for="apellido">Apellido:</label>
              <input type="text" id="apellido" formControlName="lastname" placeholder="Ingrese un apellido" maxlength="255">
            </div>
            <div class="input-field">
              <label for="correo">Correo:</label>
              <input type="email" id="correo" formControlName="email" placeholder="Ingrese un correo electrónico" maxlength="255">
            </div>
            <div class="input-field">
              <label for="puntos">Puntos:</label>
              <input type="number" id="puntos" formControlName="points" placeholder="Ingrese una cantidad de puntos" min="0">
            </div>
            <div class="input-field">
              <button type="submit" class="btn btn-custom w-50">Crear Usuario</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
