<app-navbar></app-navbar>
<div class="user-list">
  <h2>Lista de Usuarios</h2>
  <table>
    <thead>
      <tr>
        <th>RUT</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo Electrónico</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.rut_dni }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.points }}</td>
      </tr>
    </tbody>
  </table>
</div>
