.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #00a215;
}

.btn {
  margin-right: 3px;
}

.btn-custom {
  background-color: #00a215;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
}

.btn-custom:hover {
  background-color: #01bd1a;
  color: #000;
}


