<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <div>
                <img src="assets/img/dumbo-logo.png">
                <h3 class="pt-3 font-weight-bold">Iniciar Sesión</h3>
            </div>
            <div class="panel-body p-3">
              <!-- Login Form -->
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="d-flex form-group pt-3">
                  <div class="input-field">
                    <input type="text" formControlName="username" placeholder="Usuario" [(ngModel)]="loginObj.username" name="username" required>
                  </div>
                </div>
                <div class="d-flex form-group pt-3 mt-2">
                  <div class="input-field">
                    <input type="password" formControlName="password" placeholder="Contraseña" [(ngModel)]="loginObj.password" name="password" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-custom w-50">Ingresar</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
