body {
  padding-top: 56px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item {
  display: inline-block;
}

.navbar-nav .nav-item a {
  margin: 0 10px;
  position: relative;
}

.navbar-nav .nav-item:not(:last-child) a::after {
  content: "|";
  margin-left: 15px;
  color: #ccc;
  position: absolute;
}

.login-button {
  background-color: #00a215;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: left;
  }

  .navbar-nav .nav-item {
    display: block;
    margin-bottom: 10px;
  }

  .login-button {
    margin-top: 10px;
  }
}
